{% extends 'ScrummerTimes/layout.html' %}
{%load static%}

{% block css %}
    {% if article.theme == '0' %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/style.css' %}">
    {% elif article.theme == '1' %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/theme1.css' %}">
    {% elif article.theme == '2' %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/theme2.css' %}">
    {% elif article.theme == '3' %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/theme3.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/theme1.css' %}">
    {% endif %}

{% endblock %}


{% block content %}
<script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"> </script>

 <div class="row">
    <div class="col s12 m12">
      <div class="card theme-card">
        <div class="card-image">
          <img src="{{article.header_image.url}}">
            <span class="card-title"><strong>{{article.title}}</strong></span>
          <a href="/ScrummerTimes/article/{{article.id}}/subscribe/"class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content theme-content">
            <div class = "theme-info">
            <i class="theme-date">{{article.date}} created by user <strong> {{article.authors.username}}  </strong>  </i> <br>

                <i class="theme-category">Category: {{article.category}} <a href="/ScrummerTimes/category/{{article.id}}/">(subscribe)</a></i>

                </div>
            <br><br>
          <div class="theme-first-text"><p >{{article.first_text|linebreaks}}</p>
            </div><br><br>
            <div class=theme-second-image">
            <img src="{{article.in_line_image.url}}"  width="80%">
            </div>
                <br><br>
            <div class="theme-second-text"><p >{{article.second_text|linebreaks}}</p>
            </div><br><br>
        </div>
          <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab" style = "width:33.333%"><a class="active" href="#test4">Post a comment</a></li>
            <!--<li class="tab" style = "width:33.333%"><a href="#test5">Subscribe!</a></li>-->
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">

              {% if user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="Post comment" name="post_comment">
                </form>
            {% else %}
                <span>Please register or log in to leave a comment</span>
            {% endif %}

            {% for comment in comments %}
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card theme-comment2">
                        <div class="card-content theme-comment" style="padding-top: 0px;">
                            <span class="card-title theme-comment-title"> <strong>{{comment.user }}</strong> <small>{{ comment.timestamp }}</small> </span>
                          <p class="theme-comment-content">{{ comment.content }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}




          </div>
            <!--
          <div id="test5">
              <form action={% url 'subscribe_to_author' article.id %}  method="post">
                {% csrf_token %}

              <input type="submit" value="Subscribe to Author!" name="subscribe"/>
              </form>
              <form action={% url 'subscribe_to_category' article.category.id %}  method="post">
                {% csrf_token %}

              <input type="submit" value="Subscribe to Category!" name="subscribe"/>
              </form>
          </div>-->
        </div>

      </div>
    </div>
  </div>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}
