{% extends 'ScrummerTimes/layout.html' %}
{%load static%}

{% block css %}
    {% if article.theme == '1' %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/theme1.css' %}">
    {% elif article.theme == '2' %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/theme2.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'ScrummerTimes/theme1.css' %}">
    {% endif %}

{% endblock %}


{% block content %}


 <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-image">
          <img src="{{article.header_image.url}}">
            <span class="card-title"><strong>{{article.title}}</strong></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">Sub</i></a>
        </div>
        <div class="card-content">
            <i>{{article.date}} created by user <strong> {{article.authors.username}} </strong></i> <br>
            <i>Category: {{article.category}}</i>
            <br><br>
          <p>{{article.first_text|linebreaks}}</p>
            <br><br>
            <img src="{{article.in_line_image.url}}" width="80%">
            <br><br>
            <p class="articleText">
                {{article.second_text|linebreaks}}
            </p>
        </div>
          <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab" style = "width:33.333%"><a class="active" href="#test4">Post a comment</a></li>
            <li class="tab" style = "width:33.333%"><a href="#test5">Subsribe to {{article.authors.username}}</a></li>
            <li class="tab" style = "width:33.333%"><a href="#test6">Share</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">

              {% if user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="Post comment" name="post_comment">
                </form>
            {% else %}
                <span>Please register or log in to leave a comment</span>
            {% endif %}

            {% for comment in comments %}
                  <div class="row">
                    <div class="col s12 m12">
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text" style="padding-top: 0px;">
                            <span class="card-title"> <strong>{{comment.user }}</strong> <small>{{ comment.timestamp }}</small> </span>
                          <p>{{ comment.content }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}




          </div>
          <div id="test5">Test 2</div>
          <div id="test6">Test 3</div>
        </div>

      </div>
    </div>
  </div>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
{% endblock %}
