python {% extends 'ScrummerTimes/layout.html' %}
  {% load static %}
{% block content %}
<style>
    select {
        display: block;
    }
</style>

<form action={% url 'createarticle' %}  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form }}-->

    <div>
        <h3>Create a new article</h3>
        <br>
    </div>

    <p style="font-size:20px;" class="left-align">Image:</p>
    {{ form.header_image}}
    <!--<p>
        <input id="id_image" type="file" class="" name="header_image">
    </p>-->
    <p style="font-size:20px;" class="left-align">Name:</p>
    {{ form.title }}
    <p style="font-size:20px;" class="left-align">Text:</p>
    {{ form.text }}
    <p style="font-size:20px;" class="left-align">Category: </p>
    {{ form.category }}
    <br>
    <p style="font-size:20px;" class="left-align">Save as draft:
        <label style="position:relative; top:5px;">

            {{form.draft}}
            <span></span>

        </label>
    </p><br>

    <input type="submit" value="Submit"/>



    <!--Used to redirect to the previous site, more in view.py-->
    <input type="hidden" name="next" value="{{ request.GET.next }}">
</form>


<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}