{% extends 'ScrummerTimes/layout.html' %}
  {% load static %}
{% block content %}
<style>
    select {
        display: block;
    }
</style>

<form action={% url 'createarticle' %}  method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <!--{{ form }}-->

    <div>
        <h3>Create a new article</h3>
        <br>
    </div>

    <p style="font-size:20px;" class="left-align">Header Image:</p>
    {{ form.header_image}}
    <p style="font-size:20px;" class="left-align">Article Title:</p>
    {{ form.title }}
    <p style="font-size:20px;" class="left-align">First Part of the Article Text:</p>
    {{ form.first_text }}
    <p style="font-size:20px;" class="left-align">Image Inside the Article:</p>
    {{ form.in_line_image}}
    <p style="font-size:20px;" class="left-align">Second Part of the Article Text:</p>
    {{ form.second_text }}
    <p style="font-size:20px;" class="left-align">Category: </p>
    {{ form.category }}
    <p style="font-size:20px;" class="left-align">Select a theme for your page: </p>
    {{ form.theme }}
    <br>
    <p style="font-size:20px;" class="left-align">Save as draft:
        <label style="position:relative; top:5px;">

            {{form.draft}}
            <span></span>

        </label>
    </p><br>

    <input type="submit" value="Submit"/>



    <!--Used to redirect to the previous site, more in view.py-->
    <input type="hidden" name="next" value="{{ request.GET.next }}">
</form>


<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}