
{% extends 'ScrummerTimes/layout.html' %}

{% block content %}
<form action={% url 'editarticle' id %}  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form }}-->

    <div>
        <h3>Edit the Article</h3>
        <br>
    </div>

    <p style="font-size:20px;" class="left-align">Image:</p>
    {{ form.header_image}}
    <!--<p>
        <input id="id_image" type="file" class="" name="header_image">
    </p>-->
    <p style="font-size:20px;" class="left-align">Name:</p>
    {{ form.title }}
    <p style="font-size:20px;" class="left-align">Text:</p>
    {{ form.text }}

    <p style="font-size:20px;" class="left-align">Category: </p>
    {{ form.category }}
    <!--Authors can edit their article, but they can't necesarly publish it-->
    {% if perms.ScrummerTimes.publish_article %}
        <p style="font-size:20px;" class="left-align">Make Article Public:
        <label style="position:relative; top:5px;">

            {{form.is_read}}
            <span></span>

        </label>
        </p>


    {% else %}
        <p style="font-size:20px;" class="left-align"> You have to be a Editor to publish this article</p>
    <p style="font-size:20px;" class="left-align">
            Click submit to save the Article to "My Articles"</p>
    {% endif %}

    {% if perms.ScrummerTimes.save_as_draft %}
        <p style="font-size:20px;" class="left-align">Save as draft:
        <label style="position:relative; top:5px;">

            {{form.draft}}
            <span></span>

        </label>
        </p>
        {% if article.draft %}
            <input type="submit" name="delete" value="Delete draft" style="color: red">
        {% endif %}
    {% endif %}


    <!--Used to redirect to the previous site, more in view.py-->
    <input type="hidden" name="next" value="{{ request.GET.next }}">

    <input type="submit" value="Submit" />
</form>


<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}