
{% extends 'ScrummerTimes/layout.html' %}

{% block content %}
<form action={% url 'editarticle' id %}  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form }}-->

    <div>
        <h3>Edit the Article</h3>
        <br>
    </div>

    <p style="font-size:20px;" class="left-align">Image:</p>
    {{ form.header_image}}
    <p style="font-size:20px;" class="left-align">Article Title:</p>
    {{ form.title }}
    <p style="font-size:20px;" class="left-align">First Part of the Article Text:</p>
    {{ form.first_text }}
    <p style="font-size:20px;" class="left-align">Image Inside the Article:</p>
    {{ form.in_line_image}}
    <p style="font-size:20px;" class="left-align">Second Part of the Article Text:</p>
    {{ form.second_text }}
    <p style="font-size:20px;" class="left-align">Category: </p>
    {{ form.category }}
    <!--Authors can edit their article, but they can't necesarly publish it-->
    {% if perms.ScrummerTimes.publish_article %}
        <p style="font-size:20px;" class="left-align">Make Article Public:
        <label style="position:relative; top:5px;">
            {{form.is_read}}
            <span></span>
        </label>
        </p>
    {% else %}
        <p style="font-size:20px;" class="left-align"> You have to be a Editor to publish this article</p>
    <p style="font-size:20px;" class="left-align">
            Click submit to save the Article to "My Articles"</p>
    {% endif %}

    {% if perms.ScrummerTimes.save_as_draft %}
        <p style="font-size:20px;" class="left-align">Save as draft:
        <label style="position:relative; top:5px;">

            {{form.draft}}
            <span></span>

        </label>
        </p>
        {% if article.draft %}
            <input type="submit" name="delete" value="Delete draft" style="color: red">
        {% endif %}
    {% endif %}


    <!--Used to redirect to the previous site, more in view.py-->
    <input type="hidden" name="next" value="{{ request.GET.next }}">

    <input type="submit" value="Submit" name="submit_article"/>
</form>


<h4> Comments </h4>
<br>
<div>
    {% if user.is_authenticated %}
        <!-- <span>Add a comment: </span>
        <form method="post" action=".">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="Post comment" name="post_comment">
        </form> -->
    {% else %}
        <span>Please register or log in to leave a comment</span>
    {% endif %}

        {% for comment in comments %}
            <div>
                <small><p> From {{comment.user }} At {{ comment.timestamp }}</p></small>
                {{ comment.content }}
            </div>
            <hr>
            <br>
        {% endfor %}
</div>


<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>

{% endblock %}