

{% extends 'ScrummerTimes/layout.html' %}

{% block content %}

<ul>
    {% for article in articles%}
    <li><a href="/ScrummerTimes/article/{{article.id}}"> {{article.title}}</a>
       <!-- Goes to the form that does the editing, also saves what the previous site was! -->
        {% if article.editors == request.user %}
        <a href="{% url 'editarticle' article.id %}?next={{ request.path|urlencode }}"> | Edit</a>
        {% endif %}
        <b id="editore" style="color:red">| {{article.editors}}</b>
        {% if article.editors == request.user %}
        <form class="deleteUser" action="{% url 'deleteEditor' article.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <button type="submit">Remove self</button>
        </form>
        {% elif article.editors == None %}
        <form class="assignUser" action="{% url 'assignEditor' article.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <button type="submit">Assign self</button>


        </form>
        {% endif %}

        {% if perms.ScrummerTimes.assign_article %}
        <form class="assignEditor" action="{% url 'select_copyeditor' article.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.copyeditor }}
        </form>
        <br>
        {% endif %}

         <!-- The image is not required in the article, therefore we must first check if this article has an image-->
        {% if article.header_image %}
        <img src="{{article.header_image.url}}" width="400">
        {% endif %}
    </li>
    <br>
    {% endfor %}

</ul>

<!--<a href="/ScrummerTimes/createArticle"> Create Article</a>>-->


{% endblock %}
<!--<imrg src="{{image.url}} alt="">-->