

{% extends 'ScrummerTimes/layout.html' %}
{% load static %}
{% block content %}


<ul>
    {% for article in articles%}
    <li><a href="/ScrummerTimes/article/{{article.id}}"> {{article.title}}</a>
         <!-- Goes to the form that does the editing, also saves what the previous site was! -->
        {% if user.is_authenticated %}
            {% if perms.ScrummerTimes.change_article %}
        <a href="{% url 'editarticle' article.id %}?next={{ request.path|urlencode }}"> | edit</a>
            {% endif %}
        {% endif %}
        <br>
        <!-- The image is not required in the article, therefore we must first check if this article has an image-->
        {% if article.header_image %}
        <img src="{{article.header_image.url}}" width="400">
        {% endif %}
    </li>
    <br>
    {% endfor %}
</ul>

<!--
{% for article in articles%}
<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{article.header_image.url}}">
          <span class="card-title"><li><a href="/ScrummerTimes/article/{{article.id}}"> {{article.title}}</a></span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
-->
<!--<a href="/ScrummerTimes/createArticle"> Create Article</a>>-->

{% endblock %}
<!--<imrg src="{{image.url}} alt="">-->