<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{% static 'ScrummerTimes/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'ScrummerTimes/favicon.png' %}"/>
    <title>The Scrummer Times</title>
    <style>
        select {
            display: block;
            width: 120px;
        }
    </style>
</head>

<body background="{% static 'ScrummerTimes/spiration-light.png' %}">
    <header style="position:relative">

        <!--<h1>The Scrummer Times</h1>-->
        <div class="navbar-fixed">
            <!-- Dropdown-menyer -->
            <ul id="filters" class="dropdown-content">
                <li>
                    <form id="category-filter" method="post">
                        {{form.category}} <br>
                        <input type="submit" value="Submit"/>
                        {% csrf_token %}
                    </form>
                </li>

            </ul>
            <ul id="adminThings" class="dropdown-content">
                <li>
                    <a href="/admin">Admin</a>
                </li>
            </ul>
            <ul id="authorThings" class="dropdown-content">
                <li>
                    <!-- Goes to the form that does the editing, also saves what the previous site was! -->
                    <a href="{% url 'createarticle' %}?next={{ request.path|urlencode }}">New Article</a>
                </li>
                <li>
                    <a href="{% url 'mydrafts' %}">My Drafts</a>
                </li>
                <li>
                    <!-- Goes to the form that does the editing, also saves what the previous site was! -->
                    <a href="{% url 'myarticles' %}?next={{ request.path|urlencode }}">Submitted Articles</a>
                </li>
            </ul>
            <ul id="executiveThings" class="dropdown-content">
                {% if perms.ScrummerTimes.publish_article %}
                <li>
                    <a href="/ScrummerTimes/feedUnpublished">Publishing</a>
                </li>
                {% endif %}
                {% if perms.ScrummerTimes.edit_categories%}
                <li>
                    <a href="{% url 'managesite' %}?next={{ request.path|urlencode }}">Manage Site</a>
                </li>
                <li>
                    <a href="{% url 'analytics' %}?next={{ request.path|urlencode }}">Analytics</a>
                </li>
                {% endif %}
            </ul>
            <!-- Navbar proper -->
            <nav id="navbar">
                <ul>
                    <li class="brand-logo right" >
                        {% load static %}
                        <img src="{% static 'ScrummerTimes/LogoMakr_2o6PKh.png' %}" style="width:250px;margin-top: 10px;">
                    </li>
                   {% if request.path == '/ScrummerTimes/feed/' %}
                       <li>
                            <a class="dropdown-trigger" href="#!" data-trigger="filters">Filter categories</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/ScrummerTimes/feed">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <li>
                                <a class="dropdown-trigger" href="#!" data-target="adminThings">Admin panel</a>
                            </li>
                        {% endif %}
                    <!-- Only Authors can create an article -->
                        {% if perms.ScrummerTimes.create_article %}
                        <li>
                            <a class="dropdown-trigger" href="#!" data-target="authorThings">Article management</a>
                        </li>
                        {% endif %}
                        {% if perms.ScrummerTimes.review_article %}
                        <li>
                            <a href="/ScrummerTimes/feedUnread">Proofreading</a>
                        </li>
                        {% endif %}
                        {% if perms.ScrummerTimes.publish_article %}
                        <li>
                           <a class="dropdown-trigger" href="#!" data-target="executiveThings">Executive editor area</a>
                        </li>
                        {% endif %}
                        <li class="right" style="margin-right: 10px">
                            {{request.user}}
                        </li>

                        <li class="right" style="margin-right: 300px">

                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="waves-effect waves-light btn-small" type="submit" method="post">Log out</button>
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">Log in</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:signup' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>


  <!-- Switch -->
  <div class="switch">
    <label>
      Off
      <input type="checkbox" id="dracula" onclick="dracula()">
      <span class="lever"></span>
      On
    </label>
  </div>
        <!-- Testing some messages feedback stuff-->
{% if messages %}
  <ul class="messages" style = "text-align: center;padding:auto;">
    {% for message in messages %}
      <div style="width:50%; margin: 0 auto;">
      <li class="{{ message.tags }}" style = "background-color:lightpink; border-radius:5px; margin:auto;">{{ message }}</li>
          </div>
    {% endfor %}
  </ul>
{% endif %}
    <br>

    <div id="container" class="container center-align">

        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $(".dropdown-trigger").dropdown();
    });
    function dracula() {
    // Get the checkbox
    let checkBox = document.getElementById("dracula");
    let navbar = document.getElementById("navbar");

     if (checkBox.checked){
        document.body.style.background = "black";
        navbar.style.backgroundColor = "gray";
        y = document.getElementById('container');
        y.style.color="white";
     }
     else{
         document.body.style.background = "white";
         y = document.getElementById('container');
         y.style.color="black";
         navbar.style.backgroundColor = "#e57373";
     }
}
</script>

</body>
</html>