<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{% static 'ScrummerTimes/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <title>The Scrummer Times</title>
    <style>
        #dropdown-content {
            display: none;
            float: left;
            max-width: 40px;
            margin-left: 10%;
        }

        select {
            display: block;
            width: 120px;
        }
    </style>
</head>

<body background="{% static 'ScrummerTimes/spiration-light.png' %}">
    <header style="position:relative">

        <!--<h1>The Scrummer Times</h1>-->
        <div class="navbar-fixed">
            <nav id="navbar">
                <ul>
                    <li class="brand-logo right" >
                        {% load static %}
                        <img src="{% static 'ScrummerTimes/LogoMakr_2o6PKh.png' %}" style="width:250px;margin-top: 10px;">
                    </li>
                    {% if request.path == '/ScrummerTimes/feed/' %}
                        <li>
                            <button class="waves-effect waves-light btn-small" onclick="toggleCategories()">Filter categories</button>
                        </li>
                    {% endif %}
                    <li>
                        <a href="/ScrummerTimes/feed">Home</a>
                    </li>
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    <!-- Only Authors can create an article -->
                    {% if user.is_authenticated %}
                        {% if perms.ScrummerTimes.create_article %}
                            <li>
                                <!-- Goes to the form that does the editing, also saves what the previous site was! -->
                                <a href="{% url 'createarticle' %}?next={{ request.path|urlencode }}">New Article</a>
                            </li>
                            <li>
                                <a href="{% url 'mydrafts' %}">My Drafts</a>
                            </li>
                        {% endif %}
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% if perms.ScrummerTimes.change_article %}
                    <li>
                        <!-- Goes to the form that does the editing, also saves what the previous site was! -->
                        <a href="{% url 'myarticles' %}?next={{ request.path|urlencode }}">My Articles</a>
                    </li>
                        {% endif %}
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% if perms.ScrummerTimes.review_article %}
                        <li>
                            <a href="/ScrummerTimes/feedUnread">Proofreading</a>
                        </li>
                        {% endif %}
                    <li class="right" style="margin-right: 300px">
                        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="waves-effect waves-light btn-small" type="submit" method="post">Log out</button>

                        </form>
                    </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">Log in</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:signup' %}">Sign up</a>
                        </li>
                    {% endif %}
                     {% if user.is_authenticated %}
                    <li class="right" style="margin-right: 10px">
                        {{request.user}}
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>


  <!-- Switch -->
  <div class="switch">
    <label>
      Off
      <input type="checkbox" id="dracula" onclick="dracula()">
      <span class="lever"></span>
      On
    </label>
  </div>
        <!-- Testing some messages feedback stuff-->
{% if messages %}
  <ul class="messages" style = "text-align: center;padding:auto;">
    {% for message in messages %}
      <div style="width:50%; margin: 0 auto;">
      <li class="{{ message.tags }}" style = "background-color:lightpink; border-radius:5px; margin:auto;">{{ message }}</li>
          </div>
    {% endfor %}
  </ul>
{% endif %}

    <div id="dropdown-content">
        <form id="category-filter" method="get">
            {{form.category}} <br>
            <input type="submit" value="Submit"/>
            {% csrf_token %}
        </form>
    </div>
    <br>

    <div class="container center-align">

        {% block content %}
        {% endblock %}
    </div>



<script>
    let clicked = false;
    function toggleCategories() {
        if (!clicked) {
            clicked = true;
            document.getElementById("dropdown-content").style.display="block"
        } else {
            clicked = false;
            document.getElementById("dropdown-content").style.display="none";
        }
    }

    function dracula() {
    // Get the checkbox
    var checkBox = document.getElementById("dracula");
    var navbar = document.getElementById("navbar")

     if (checkBox.checked == true){
        document.body.style.background = "black";
        navbar.style.backgroundColor = "gray";
     }
     else if(checkBox.checked == false){
         document.body.style.background = "white";
         navbar.style.backgroundColor = "#e57373";
     }
}


</script>

</body>
</html>