

{% extends 'ScrummerTimes/layout.html' %}
{% load static %}
{% block content %}


<ul>

    {% if request.user.is_superuser %}
     {% for role in roles%}
        <div>
            <p>User : {{role.user.username}}, requests for becoming a {{role.get_role_display}}</p>
            <p>
                {{role.reason}}
            </p>
            <form action={% url 'assignroles' role.id %}  method="post" enctype="multipart/form-data" >
            {% csrf_token %}

            <input type="submit" name="allow_request"  value="Allow"/>
            <input type="submit" name="deny_request"  value="Deny"/>
        </div>
    {% endfor %}
    {% else %}


    <form action={% url 'requestrole' %}  method="post" enctype="multipart/form-data" >
        {% csrf_token %}

        <div>
            <h3>Request the role you want</h3>
            <br>
        </div>

        <p style="font-size:20px;" class="left-align">Pick a role:</p>
            {{ form.role}}

        <p style="font-size:20px;" class="left-align">Why should you have this role?</p>
        {{ form.reason}}

        <input type="submit" name="create_request"  value="Submit"/>
{% endif %}

</ul>

<!--<a href="/ScrummerTimes/createArticle"> Create Article</a>>-->

{% endblock %}
<!--<imrg src="{{image.url}} alt="">-->