

{% extends 'ScrummerTimes/layout.html' %}
{% load static %}
{% block content %}


<ul>
    {% if user.is_authenticated %}


                <form class="select_style" action={% url 'stylesite' %}  method="post">
                {% csrf_token %}
                <!--{{ form }}-->

                {{ form.as_p }}




                </form>

    {% endif %}



</ul>




<!--<a href="/ScrummerTimes/createArticle"> Create Article</a>>-->




{% endblock %}
<!--<imrg src="{{image.url}} alt="">-->


