body {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#navbar{
    background-color:white;
}

a{
    color:black;
}

nav ul li a{
  color: black;
}