header{
    width:100%;
}

#EditLink:hover {
    text-decoration: underline;
}

.articleText{
    font-style: italic;
}

textarea{
    height:auto !important;
    background-color: #ffffff !important;
}

#id_title{
    background-color: #ffffff !important;
}