header{
    width:100%;
}

#EditLink:hover {
    text-decoration: underline;
}

.articleText{
    font-style: italic;
    /*
    border: outset;
    color: white;*/
}

textarea{
    height:auto !important;
    background-color: #ffffff !important;
}

#id_title{
    background-color: #ffffff !important;
}
p{
    text-align:left !important;
    /*
    border: outset;
    color: white;*/
}

#categories{
    display:flex;
    justify-content: center;
}

.dropdown-content{
    top:64px !important;
    width:auto!important;
}