header{
    width:100%;
}

#EditLink:hover {
    text-decoration: underline;
}

.articleText{
    font-style: italic;
    /*
    border: outset;
    color: white;*/
}

textarea{
    height:auto !important;
    background-color: #ffffff !important;
}

#id_title{
    background-color: #ffffff !important;
}
p{
    text-align:left !important;
    /*
    border: outset;
    color: white;*/
}

#categories{
    display:flex !important;
    justify-content: center !important;
    margin-top:15px !important;
}
.assignEditor{
    display:flex !important;
    justify-content: center !important;
    margin-top:15px !important;
}
.select_style{
    display:flex !important;
    justify-content: center !important;
    margin-top:15px !important;
}
.dropdown-content{
    top:50px !important;
    width:auto!important;
}

#articletitle{
    color:black !important;
    background-color:white !important;
    padding:0px 0px 5px 5px!important;
    line-height: 1 !important;
    border-radius: 0px 12px 0px 0px !important;
    display:inline-block;
}
.card-title strong{
    margin:8px !important;
    /*width:100%;*/
}
.card-title div{
    display:flex;
  justify-content: center;
  align-items: center;
    font-size:12px;
    /*

    width:100%;
    display:inline-flex;*/
}
.card_date{
    display:table-cell;
    width:33.33%;
}
.card_author{
    display:table-cell;
    width:33.33%;
}
.card_category{
    display:table-cell;
    width:33.33%;
}
