header{
    width:100%;
}

#EditLink:hover {
    text-decoration: underline;
}

.articleText{
    font-style: italic;
    /*
    border: outset;
    color: white;*/
}

textarea{
    height:auto !important;
    background-color: #ffffff !important;
}

#id_title{
    background-color: #ffffff !important;
}
p{
    text-align:left !important;
    font-weight: 200 !important;
    /*
    border: outset;
    color: white;*/
}